/*
Red:#d84060
Green:#48a810
Blue:#4060f8
Yellow:#e8d020
Dark Green:#386c00
*/
/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
    color: ##e8d020;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #48a810;
    font-family: Arial, Helvetica, sans-serif;

  }
  h2 {
    font-size: 200%;
  }
  h3 {
    font-size: 150%;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #386c00;
    font-family: Cambria, Georgia, serif;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 240, 255);
  }